

<!-- <h1>hello world!</h1> -->
<!-- <div class="center">
<button class="btn btn-primary"(click)="addRoomComponent()">Add Room Component</button>
</div> -->
<!-- <hinv-rooms></hinv-rooms> -->
<!-- <hinv-container>
   <hinv-rooms></hinv-rooms>
   <hinv-employee></hinv-employee>
   <h1>This is from ng-content</h1>
</hinv-container> -->
<!-- @switch (loginTypes) {
    @case ('User') {
        <div>Welcome User!</div>
    }
    @case ('Admin') {
        <hinv-rooms></hinv-rooms>
    }
    @default {
        <p>You are not authorized to view this page.</p>
    }
} -->

<!-- <div class="float-container" > -->
    <!-- <div class="float-child" > -->
        <!-- <div>
    <ng-template  #user class=""></ng-template>
</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div>
    <ng-template  #user class=""></ng-template>
</div> -->

<!-- Let's try to access a div element using template reference , this name is template reference-->
<!-- <div #name></div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->

<hinv-app-nav></hinv-app-nav>

<!-- <router-outlet></router-outlet> -->
